/*
	CSS Rules
	Selector {
		property: values;
	}

	selector {property:  values;}
*/

/*Type Selector*/

/*tag name
	>> specified tag
	>> color changes the font color*/

h1 {
	color: mediumpurple !important;
	font-size: 2rem;
	text-align: center;
}

/*universal selector = least priority*/
*{
	font-family: "courier new", monospace;
	font-size: 20px;
}

/*CSS SPECIFICITY RULES
id selctors have the highest priority*/

/*id Selector*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*class selector*/
.offering-item {
	text-transform: uppercase;
}


/*attribute selector*/
/*tagname[attribute]*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}


/*Combinator Selectors
combi selector1
Adjacent sibling selector=
selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/combi selctor 2 
*descendant selector
selector selector*/
#bootcamp-learning-list li {
	color: #075966;
}

/*combi selctor 3
general sibling
selector - selector*/
h2 ~ a {
	text-decoration: none;
}

/*child selctor num 4
selector > selector*/
body > section > form > label {
	color: rgb(0,0,128);
}

/*more styling*/
body {
	background-color: skyblue;
}

/*html {
	scroll-behavior: smooth;
}*/

nav {
	background-color: white;
}

a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

/*landing section*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 250px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}


button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}
