


#par-3 {
	color: blueviolet;
	font-size: 15px;
}

h1 {
	color: red;
}

#h2-t {
	text-transform: uppercase;
	font-size: 15px;
}

#Languages-tolearn li {
	background-color: yellow;
}

#tools-list li {
	border: 1px solid black;
	font-size: 20px;
}

h4 + img {
	height: 300px;
	width: 300px;
	border-radius: 125px;
}

ol {
	list-style: none;
}


ol {
	letter-spacing: 8px;
}

#par-4 {
	position: relative;
	right: -750px;
	color: orange;